@use 'sass:color';

$primary-color: #49043b;
$secondary-color: #0a4451;
$foreground-color: #b5b5b5;
$background-color: #1d1d1d;

.workspace {
  background-color: $background-color;
  color: $foreground-color;
}

Card {
  background-color: color.adjust($background-color, $lightness: 5%);
}

[icon] {
  filter: invert(90%);
}

.demonstration-container {
  &[primary-color] {
    color: color.adjust($primary-color, $lightness: 30%);
  }
}

button {
  //   background-color: color.adjust($primary-color, $lightness: 10%);
  background-color: color.adjust($primary-color, $lightness: 5%);
  border-color: color.adjust($primary-color, $lightness: 5%);
  color: $foreground-color;
  &[disabled] {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
  }

  &[outline] {
    background: transparent;
    border-color: color.adjust($primary-color, $lightness: 10%);
    background-color: transparent;
    color: $foreground-color;
  }

  &:active {
    background-color: color.adjust($primary-color, $lightness: -5%);
    border-color: color.adjust($primary-color, $lightness: -5%);
  }
}

select {
  background-color: inherit;
  border-color: $foreground-color;
  color: $foreground-color;
  option {
    background-color: $background-color;
  }
}
